mixin a-img(name)
	a(href="#")(class!=attributes.class)
		img(alt="icon" src="../images/" + name)

mixin forCard(content, content2)
	p(class="card-text") #{content}
	a(href="#" class="card-a") #{content2}

mixin goods(good, word)
	.goods-bottom(class=['col-4', 'col-sm-2', 'd-flex', 'flex-column', 'justify-content-center', 'align-items-center'])
		img(alt="alt" src="../images/" + good + ".svg")
		p #{word}

mixin best(img1, img2, product)
	.best-item
		a(href="#" class="mini") Перейти в карточку
		.dark-card
			table
				tr
					td Материал
					td(class="pad") Хлопок
				tr
					td Сезон
					td(class="pad") Лето
				tr
					td Страна-производитель
					td(class="pad") Франция
				tr
					td Длина
					td(class="pad") Мини
			a(href="#" class="go") Перейти в карточку
		.best-item-pic
			img(alt="alt" src="../images/" + img1)
			img(alt="alt" src="../images/" + img2 class="flag")
		.best-item-info
			h2(class="best-head") #{product}
			p(class="best-about") Описание: Полосатая кофта из полосатого трикотажа, без молнии
			.size1 44
			.size2 48
			.size3 52
			p(class="size-word") Размер
			.price-container(class=['d-flex', 'align-content-center', 'flex-wrap'])
				p(class="price-del") 11900 р.
				p(class="price") 1170 р.
			img(alt="alt" src="../images/telega1.svg" class="basket")