mixin a-img(name)
	a(href="#")(class!=attributes.class)
		img(alt="icon" src="../images/" + name)

mixin forCard(content, content2)
	p(class="card-text") #{content}
	a(href="#" class="card-a") #{content2}

mixin goods(good, word)
	.goods-bottom(class=['col-4', 'col-sm-2', 'd-flex', 'flex-column', 'justify-content-center', 'align-items-center'])
		img(src="../images/" + good + ".svg")
		p #{word}

mixin best(img1, img2, product)
	.best-item
		.dark-card
			table(border="1")
				tr(cellpadding="10")
					td Материал
					td(class="pad") Хлопок
				tr
					td Сезон
					td(class="pad") Лето
				tr
					td Страна-производитель
					td(class="pad") Франция
				tr
					td Длина
					td(class="pad") Мини
			a(href="#" class="go") Перейти в карточку
		.best-item-pic
			img(src="../images/" + img1)
			img(src="../images/" + img2 class="flag")
		.best-item-info
			h2(class="best-head") #{product}
			p(class="best-about") Описание: Полосатая кофта из полосатого трикотажа, без молнии
			img(src="../images/size1.svg" class="size1")
			img(src="../images/size2.svg" class="size2")
			img(src="../images/size3.svg" class="size3")
			p(class="size-word") Размер
			p(class="price-del") 1190 р.
			p(class="price") 790 р.
			img(src="../images/telega1.svg" class="basket")